*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    padding: 40px 60px;
}
h2{
    font-size: 3em;
    color: #267c65;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reset{
    padding: 15px 20px;
    color: #fff;
    background: #267c65;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 600;
}
.reset:hover {
    background: #1e5f4d;
}
.game {
    width: 430px;
    height: 430px; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* makes the flip look 3D! */
    perspective: 1000px;
}
.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 0px;
    cursor: pointer
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
}
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #267c65;
    backface-visibility: hidden; /* hides the green when it flips */
    transition: 0.25s;
}
.item.boxOpen,
.item.boxMatch {
    transform: rotateY(180deg);
    font-size: 50px;     /* reveal emoji */
}
    
.item.boxMatch {
 background: #d3f6ed;
}
