*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    padding: 40px 60px;
}
h2{
    font-size: 3em;
    color: #267c65;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reset{
    padding: 15px 20px;
    color: #267c65;
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 01em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus {
    color: #267c65;
    background: #fff;
}
.game {
    width: 430px;
    height: 430px; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #267c65;
    font-size: 0px;
    cursor: pointer;
    transform: rotateY(0deg);
    transition: 0.25s;
}
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: #267c65;
    transform: rotateY(0deg);
    backface-visibility: hidden; /* hides the green when it flips */
    transition: 0.25s;
}
.item.boxOpen,
.item.boxMatch {
    transform: rotateY(180deg);
    font-size: 50px;     /* reveal emoji */
}
    
.item.boxMatch {
 background: #9ed9c9;
}
